*{
    margin: 0;
    border: 0;
}
.enround {
    display: grid;
    place-items: center;  
         
  
    .box {
      background-color: #161616;
      color: aliceblue;
      display: flex;
      place-items: center;  
      width: 997px;
      height: 710px;
      box-sizing: border-box;
      border-radius: 30px;
     flex-direction: column;
     padding-top: 40px;

     .icon{
        height: 100px;
        
     }
    }
    

  }


.Me{
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

