

<div class="Carousel">
  <div class="list">
    <div class="items">
      <img [src]="items[currentIndex].image" alt="" />
      <div class="content">
        <div class="Title">{{ items[currentIndex].title }}</div>
        <div class="topic">{{ items[currentIndex].topic }}</div>
        <div class="des">{{ items[currentIndex].description }}</div>
        <div class="buttons">
          <button>SEE MORE</button>
          <button>FOLLOW</button>
        </div>
      </div>
    </div>
  </div>
  <div class="arrows">
    <button id="prev" (click)="prev()"><</button>
    <button id="next" (click)="next()">></button>
  </div>
</div>






<!-- Carrusel--->
<!--<div class="Carousel">-->
  <!-- items--->
<!--
  <div class="list">
    <div class="items">
      <img src="/assets/images/SanFelipe.jpg" alt="" />
      <div class="content">
        <div class="Title">Humberto</div>
        <div class="topic">Systems Engineer | Backend Developer</div>
        <div class="des">
          Welcome to my portfolio! I am a proactive systems engineer with 
          experience in developing software solutions that solve real-world
           problems. I work with technologies like Java, Spring Boot, Angular, 
           and I have knowledge in relational and non-relational databases like MySQL and MongoDB. 
           I'm constantly looking to learn and improve my skills.
        </div>
        <div class="buttons">
          <button>SEE MORE</button>
          <button>FOLLOW</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="arrows">
      <button id="prev"><</button>
      <button id="next">></button>
    </div>
  </div>
</div>
-->