<!-- Carrusel--->
<div class="Carousel">
  <!-- items--->

  <div class="list">
    <div class="items">
      <img src="/assets/images/SanFelipe.jpg" alt="" />
      <div class="content">
        <div class="Title">Humberto</div>
        <div class="topic">presenting</div>
        <div class="des">
          My name is Rene Humberto Jose Lozano Verbel, I live in Colombia and I
          am a dedicated Frontend programmer who strives to always learn more
          and improve myself, independent and calm when working under pressure,
          being very responsible in my day-to-day duties.
        </div>
        <div class="buttons">
          <button>SEE MORE</button>
          <button>FOLLOW</button>
        </div>
      </div>
    </div>
  </div>
</div>
